ion-content {
  --ion-background-color: #222940;

  .continue-button {
    --background: #f2784b;
    --color: white;
    --border-radius: 8px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    font-weight: bold;
    margin-top: 30px;
  }
}
