<ion-header> Haikyuu!! - Telas IONIC</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <img
        src="https://i.gifer.com/origin/a3/a3508a093d773b1ac3329f573e6bb3dd.gif"
        alt="Logo 1"
      />
    </ion-slide>
    <ion-slide>
      <img src="https://i.gifer.com/8Uk1.gif" alt="Logo 2" />
    </ion-slide>
  </ion-slides>

  <ion-button
    expand="full"
    class="continue-button"
    [routerLink]="['/tabs/tab2']"
    >Veja mais sobre Haikyuu :)
  </ion-button>
</ion-content>
